<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
	<th:block th:include="include :: header('用户列表')" />
	<th:block th:include="include :: layout-latest-css" />
	<th:block th:include="include :: ztree-css" />
</head>
<body class="gray-bg">
	<div class="ui-layout-west">
		<div class="box box-main">
			<div class="box-header">
				<div class="box-title">
					<i class="fa icon-grid"></i> 组织机构
				</div>
				<div class="box-tools pull-right">
					<button type="button" class="btn btn-box-tool" id="btnExpand" title="展开" style="display:none;"><i class="fa fa-chevron-up"></i></button>
					<button type="button" class="btn btn-box-tool" id="btnCollapse" title="折叠"><i class="fa fa-chevron-down"></i></button>
					<button type="button" class="btn btn-box-tool" id="btnRefresh" title="刷新部门"><i class="fa fa-refresh"></i></button>
				</div>
			</div>
			<div class="ui-layout-content">
				<div id="tree" class="ztree"></div>
			</div>
		</div>
	</div>
	
	<div class="ui-layout-center">
		<div class="container-div">
			<div class="row">
				<div class="col-sm-12 search-collapse">
					<form id="user-form">
						<input type="hidden" id="deptId" name="deptId">
						<input type="hidden" id="requestType" name="requestType" th:value="${requestType}">
						<input type="hidden" id="dealType" name="dealType" th:value="${dealType}">
						<input type="hidden" id="orderNumber" name="orderNumber" th:value="${orderNumber}">
						<input type="hidden" id="customerId" name="customerId" th:value="${customerId}">
		                <input type="hidden" id="parentId" name="parentId">
						<div class="select-list">
							<ul>
								<li>
									人员名称：<input type="text" name="userName"/>
								</li>
								<li>
									手机号码：<input type="text" name="phonenumber"/>
								</li>
								<li>
									<a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
								    <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
								</li>
							</ul>
						</div>
					</form>
				</div>
				
		        <div class="btn-group-sm" id="toolbar" role="group">
		         
		        </div>
		        
		        <div class="col-sm-12 select-table table-striped">
				    <table id="bootstrap-table"></table>
				</div>
			</div>
		</div>
	</div>
	
	<th:block th:include="include :: footer" />
	<th:block th:include="include :: layout-latest-js" />
	<th:block th:include="include :: ztree-js" />
	<script th:inline="javascript">
		var prefix = ctx + "wxcustomer/common";
		$(function() {
		    var panehHidden = false;
		    if ($(this).width() < 769) {
		        panehHidden = true;
		    }
		    $('body').layout({ initClosed: panehHidden, west__size: 185 });
		    queryUserList();
		    queryDeptTree();
		});
		var requestType=$("#requestType").val()
		function queryUserList() {
		    var options = {
		        url: prefix + "/list",
		        
		        sortName: "createTime",
		        sortOrder: "desc",
		        modalName: "用户",
		        columns: [{
		            checkbox: true
		        },
		        {
		            field: 'userId',
		            title: '用户ID',
		        },
		        {
		            field: 'userName',
		            title: '用户名称'
		        },
		        {
		            field: 'dept.deptName',
		            title: '部门'
		        } ,
		        {
		            field: 'phonenumber',
		            title: '手机'
		        } ]
		    };
		    $.table.init(options);
		}
		
		function queryDeptTree()
		{
			var url = prefix + "/treeData?requestType="+requestType;
			var options = {
		        url: url,
		        expandLevel: 2,
		        onClick : zOnClick
		    };
			$.tree.init(options);
			
			function zOnClick(event, treeId, treeNode) {
				$("#deptId").val(treeNode.id);
				$("#parentId").val(treeNode.pId);
				$.table.search();
			}
		}
		
		$('#btnExpand').click(function() {
			$._tree.expandAll(true);
		    $(this).hide();
		    $('#btnCollapse').show();
		});
		
		$('#btnCollapse').click(function() {
			$._tree.expandAll(false);
		    $(this).hide();
		    $('#btnExpand').show();
		});
		
		$('#btnRefresh').click(function() {
			queryDeptTree();
		});

		 function submitHandler() {
			var requestType= $("#requestType").val()
			 if(requestType=="afterSale"){
				selectAfterSale();
			 }else if(requestType=="businessMan"){
				selectBusinessMan();
			 }
			
	       }
		 //选择售后人员
		function selectAfterSale(){
			 var ck=$("#bootstrap-table").find('tbody').find(".bs-checkbox ").find("input[type='checkbox']:checked");
		        if(ck.length<1||ck.length>1){
		        	$.modal.alertWarning('必须是勾选一项！')
		        	return;
		        }
		        var user=$(ck[0]).parent().parent().find("td");
		        var saleId=$(user[1]).html();
		        var saleName=$(user[2]).html();
		        var orderNumber=$("#orderNumber").val();
		        var dealType=$("#dealType").val();
		        var customerId=$("#customerId").val();
		        $.operate.save("/wxcustomer/deal/distributionSale", {orderNumber:orderNumber,saleId:saleId,saleName:saleName,dealType:dealType,customerid:customerId});
		}
		 //选择业务对接人
		function selectBusinessMan(){
			 var ck=$("#bootstrap-table").find('tbody').find(".bs-checkbox ").find("input[type='checkbox']:checked");
		        if(ck.length<1||ck.length>1){
		        	$.modal.alertWarning('必须是勾选一项！')
		        	return;
		        }
		        var user=$(ck[0]).parent().parent().find("td");
		        var businessManId=$(user[1]).html();
		        var businessManName=$(user[2]).html();
		        var customerId=$("#customerId").val();
		        $.operate.save("/wxcustomer/WechatCustomer/distributionBusinessMan", {businessManId:businessManId,businessManName:businessManName,customerid:customerId});
		}
		 
	</script>
</body>
</html>