<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
    <th:block th:include="include :: header('修改发样/成交情况')" />
    <th:block th:include="include :: datetimepicker-css" />
</head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-deliver_goods-edit" th:object="${khDeliverGoods}">
            <input name="id" th:field="*{id}" type="hidden">
            <div class="form-group">    
                <label class="col-sm-3 control-label">跟进结果类型：</label>
                <div class="col-sm-8">
                    <select name="followResultType" class="form-control m-b" th:with="type=${@dict.getType('follow_result_type')}">
                        <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}" th:field="*{followResultType}"></option>
                    </select>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">成交金额：</label>
                <div class="col-sm-8">
                    <input name="dealAmount" th:field="*{dealAmount}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">发样/成交清单：</label>
                <div class="col-sm-8">
                    <textarea name="sendSampleList" class="form-control">[[*{sendSampleList}]]</textarea>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">赠品清单：</label>
                <div class="col-sm-8">
                    <textarea name="giftsList" class="form-control">[[*{giftsList}]]</textarea>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">成交日期：</label>
                <div class="col-sm-8">
                    <div class="input-group date">
                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                        <input name="dealTime" th:value="${#dates.format(khDeliverGoods.dealTime, 'yyyy-MM-dd')}" class="form-control" placeholder="yyyy-MM-dd" type="text">
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">问题点：</label>
                <div class="col-sm-8">
                    <textarea name="troubleSpots" class="form-control">[[*{troubleSpots}]]</textarea>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">意向点：</label>
                <div class="col-sm-8">
                    <textarea name="intentionPoint" class="form-control">[[*{intentionPoint}]]</textarea>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">跟进次数：</label>
                <div class="col-sm-8">
                    <input name="followTimes" th:field="*{followTimes}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">跟进情况：</label>
                <div class="col-sm-8">
                    <textarea name="followResult" class="form-control">[[*{followResult}]]</textarea>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">通话时长-时：</label>
                <div class="col-sm-8">
                    <input name="durationHour" th:field="*{durationHour}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">通话时长-分：</label>
                <div class="col-sm-8">
                    <input name="durationMinute" th:field="*{durationMinute}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">通话时长-秒：</label>
                <div class="col-sm-8">
                    <input name="durationSecond" th:field="*{durationSecond}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">下次跟进时间：</label>
                <div class="col-sm-8">
                    <div class="input-group date">
                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                        <input name="nextFollowTime" th:value="${#dates.format(khDeliverGoods.nextFollowTime, 'yyyy-MM-dd')}" class="form-control" placeholder="yyyy-MM-dd" type="text">
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">下次跟进思路：</label>
                <div class="col-sm-8">
                    <textarea name="nextFollowMentality" class="form-control">[[*{nextFollowMentality}]]</textarea>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">对接业务员：</label>
                <div class="col-sm-8">
                    <input name="creator" th:field="*{creator}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">发件人：</label>
                <div class="col-sm-8">
                    <input name="sender" th:field="*{sender}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">发件人电话：</label>
                <div class="col-sm-8">
                    <input name="senderPhone" th:field="*{senderPhone}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">发件人地址：</label>
                <div class="col-sm-8">
                    <input name="senderAddress" th:field="*{senderAddress}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">发货日期：</label>
                <div class="col-sm-8">
                    <div class="input-group date">
                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                        <input name="sendTime" th:value="${#dates.format(khDeliverGoods.sendTime, 'yyyy-MM-dd')}" class="form-control" placeholder="yyyy-MM-dd" type="text">
                    </div>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">快递单号：</label>
                <div class="col-sm-8">
                    <input name="courierNumber" th:field="*{courierNumber}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">物流公司：</label>
                <div class="col-sm-8">
                    <input name="logisticsCompany" th:field="*{logisticsCompany}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">代收金额：</label>
                <div class="col-sm-8">
                    <input name="collectingAmount" th:field="*{collectingAmount}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">保价金额：</label>
                <div class="col-sm-8">
                    <input name="insuranceAmount" th:field="*{insuranceAmount}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">邮费：</label>
                <div class="col-sm-8">
                    <input name="postage" th:field="*{postage}" class="form-control" type="text">
                </div>
            </div>
        </form>
    </div>
    <th:block th:include="include :: footer" />
    <th:block th:include="include :: datetimepicker-js" />
    <script type="text/javascript">
        var prefix = ctx + "wxcustomer/deliver_goods";
        $("#form-deliver_goods-edit").validate({
            focusCleanup: true
        });

        function submitHandler() {
            if ($.validate.form()) {
                $.operate.save(prefix + "/edit", $('#form-deliver_goods-edit').serialize());
            }
        }

        $("input[name='dealTime']").datetimepicker({
            format: "yyyy-mm-dd",
            minView: "month",
            autoclose: true
        });

        $("input[name='nextFollowTime']").datetimepicker({
            format: "yyyy-mm-dd",
            minView: "month",
            autoclose: true
        });

        $("input[name='sendTime']").datetimepicker({
            format: "yyyy-mm-dd",
            minView: "month",
            autoclose: true
        });
    </script>
</body>
</html>