<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
    <th:block th:include="include :: header('新增微信客户')" />
    <th:block th:include="include :: datetimepicker-css" />
</head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
   		
   	   <h4 class="form-header h4">基本情况</h4>	
       <form class="form-horizontal" id="form-WechatCustomer-add" style="margin-right: 150px;">
           <div class="form-group">
           	
           	<input name="customerId" class="form-control" type="hidden" th:value="${wechatCustomer.customerId}" id="id">
           	<input name="isAdd" class="form-control" type="hidden" th:value="${isAdd}" id="isAdd">
           	<input name="saleInfoStr" class="form-control" type="hidden" value="" id="saleInfoStr">
           	<input name="postSaleStr" class="form-control" type="hidden" value="" id="postSaleStr">
           	
           	<input name="provinceId" class="form-control" type="hidden" value="">
           	<input name="cityId" class="form-control" type="hidden" value="">
           	<input name="areaId" class="form-control" type="hidden" value="">
           	
         	<label class="col-sm-2 control-label"><span style="color:#ff0000;">*</span>电话号：</label>
			<div class="col-sm-4">
				 <input name="phoneNumber" class="form-control" type="text" placeholder="请输入电话号"  required th:value="${wechatCustomer.phoneNumber}">
			</div>
			<label class="col-sm-2 control-label">微信号：</label>
			<div class="col-sm-4">
				<input name="weixinNumber" class="form-control" type="text" placeholder="请输入微信号"  th:value="${wechatCustomer.weixinNumber}">
			</div>
           </div>
           
           <div class="form-group">    
               <label class="col-sm-2 control-label"><span style="color:#ff0000;">*</span>客户姓名：</label>
			<div class="col-sm-4">
				 <input name="customerName" class="form-control" type="text" placeholder="请输入客户姓名"  required  th:value="${wechatCustomer.customerName}">
			</div>
			<label class="col-sm-2 control-label">对接业务员：</label>
			<div class="col-sm-4">
				<input name="creatorId" type="hidden"  th:value="${wechatCustomer.creatorId}">
				<input name="creator" class="form-control" type="text" readonly="readonly" required  th:value="${wechatCustomer.creator}">
			</div>
           </div>
           
           <div class="form-group">    
            <label class="col-sm-2 control-label">性别：</label>
			<div class="col-sm-4">
				 <select name="gender" class="form-control m-b" th:with="type=${@dict.getType('sys_user_sex')}">
                       <option value="">请选择</option>
                       <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}" th:field="*{wechatCustomer.gender}"></option>
                 </select>
			</div>
			<label class="col-sm-2 control-label">性格：</label>
			<div class="col-sm-4">
				<input name="khCharacter" class="form-control" type="text"  th:value="${wechatCustomer.khCharacter}">
			</div>
           </div>
           
           <div class="form-group">    
               <label class="col-sm-2 control-label">客户地址：</label>
               <div class="col-sm-6 form-inline"  style="padding-left: 30px;" id="customerAddressSelect">
                   <div class="form-group" style="padding-right: 30px"><select name="province" class="form-control m-b"></select></div>
                   <div class="form-group" style="padding-right: 30px"><select name="city" class="form-control m-b"></select></div>
                   <div class="form-group"><select name="area" class="form-control m-b"></select></div>
               </div>
               <div class="col-sm-4">
                   <input name="customerAddress" class="form-control" type="text" placeholder="请输入详细地址"  th:value="${wechatCustomer.customerAddress}">
               </div>
           </div>
           
           <div class="form-group">    
               <label class="col-sm-2 control-label">店名：</label>
			<div class="col-sm-4">
				 <input name="shopName" class="form-control" type="text"  th:value="${wechatCustomer.shopName}">
			</div>
			<label class="col-sm-2 control-label">客户类型：</label>
			<div class="col-sm-4">
				 <select name="customerType" class="form-control m-b" th:with="type=${@dict.getType('customer_type')}">
                       <option value="">请选择</option>
                       <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}" th:field="*{wechatCustomer.customerType}"></option>
                   </select>
			</div>
           </div>
           
           <div class="form-group">    
                <label class="col-sm-2 control-label">店员数：</label>
				<div class="col-sm-4">
					 <input name="shopAssistantNumber" class="form-control" type="text"   th:value="${wechatCustomer.shopAssistantNumber}">
				</div>
				<label class="col-sm-2 control-label">店铺数：</label>
				<div class="col-sm-4">
					<input name="customerNum" class="form-control" type="text"  th:value="${wechatCustomer.customerNum}">
				</div>
           </div>
           
           <div class="form-group">
           	<label class="col-sm-2 control-label">店铺规模：</label>
			<div class="col-sm-4">
				<input name="storeScale" class="form-control" type="text" th:value="${wechatCustomer.storeScale}">
			</div>
           
               <label class="col-sm-2 control-label">需求产品：</label>
               <div class="col-sm-4">
                   <textarea name="demandProduct" class="form-control"  th:text="${wechatCustomer.demandProduct}"></textarea>
               </div>
           </div>
           
           <div class="form-group">    
                <label class="col-sm-2 control-label">客户生日：</label>
                <div class="col-sm-4">
                    <div class="input-group date">
                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                        <input name="customerbirthday" class="form-control" placeholder="yyyy-MM-dd" type="text" th:value="${#dates.format(wechatCustomer.customerbirthday, 'yyyy-MM-dd')}">
                    </div>
                </div>
           
            <div class="form-group">    
                <label class="col-sm-2 control-label">预计下次跟进时间：</label>
                <div class="col-sm-4">
                    <div class="input-group date">
                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                        <input name="nexttime" class="form-control" placeholder="yyyy-MM-dd" type="text" th:value="${#dates.format(wechatCustomer.nexttime, 'yyyy-MM-dd')}">
                    </div>
                </div>
            </div>
           </div>
            <div class="form-group">    
                <label class="col-sm-2 control-label">预计库存：</label>
                <div class="col-sm-4">
                    <input name="expectedinventory" class="form-control" type="text" th:value="${wechatCustomer.expectedinventory}">
                </div>
            
           
           
           <div class="form-group">
               <label class="col-sm-2 control-label">备注：</label>
               <div class="col-sm-4">
                   <textarea name="remark" class="form-control" th:text="${wechatCustomer.remark}"></textarea>
               </div>
           </div>
          </div>
       </form>
       
      <div class="container-div" style="margin-top: 50px;">
	       <div class="row">
	       		<h4 class="form-header h4">销售情况</h4>
	       </div>
		   <div class="row" style="padding-bottom: 10px"> 	
	             <a class="btn btn-success" onclick="addSaleInfo();"  shiro:hasPermission="wxcustomer:WechatCustomer:addSaleInfo">
	                 <i class="fa fa-plus"></i> 添加
	             </a>
		   </div>
		   <div class="row">    
	             <table class="table table-bordered table-striped">
		              <thead>
					    <tr>
					      <th>跟进次数</th>
					      <th>跟进结果类型</th>
					      <th>跟进时间</th>
					      <th>跟进情况</th>
					      <th>下次跟进时间</th>
					      <th>通话时长</th>
					      <th>对接业务员</th>
					      <th>操作</th>
					    </tr>
					  </thead>
					  <tbody  id="saleInfoTable">
					  </tbody>
	             </table>
		    </div>
       </div>
       
       
       <div class="container-div" style="margin-top: 50px;">
       		<div class="row">
	    		<h4 class="form-header h4">售后情况</h4>
		   </div>
		   <div class="row" style="padding-bottom: 10px"> 	
	             <a class="btn btn-success" onclick="addPostSale()" shiro:hasPermission="wxcustomer:WechatCustomer:addPostSale">
	                 <i class="fa fa-plus"></i> 添加
	             </a>
		   </div>
		   <div class="row">    
	             <table class="table table-bordered table-striped">
		              <thead>
					    <tr>
					      <th>跟进次数</th>
					      <th>是否成交</th>
					      <th>跟进时间</th>
					      <th>跟进情况</th>
					      <th>下次跟进时间</th>
					      <th>通话时长</th>
					      <th>对接业务员</th>
					      <th>操作</th>
					    </tr>
					  </thead>
					  <tbody id="postSaleTable">
					  </tbody>
	             </table>
		    </div>
        </div>
    </div>
      
    <div class="row">
        <div class="col-sm-offset-5 col-sm-10">
            <button type="button" class="btn btn-sm btn-primary" onclick="submitHandler()"><i class="fa fa-check"></i>保 存</button>&nbsp;
            <button type="button" class="btn btn-sm btn-danger" onclick="closeItem()"><i class="fa fa-reply-all"></i>关 闭 </button>
        </div>
    </div>
    
    <div id="khDeliverGoodsDataStr" style="display:none;" th:text="${khDeliverGoodsDataStr}"></div>
    <div id="khAfterSaleMemberDataStr" style="display:none;" th:text="${khAfterSaleMemberDataStr}"></div>
    <div id="provinceData" style="display:none;" th:text="${wechatCustomer.province}"></div>
    <div id="cityData" style="display:none;" th:text="${wechatCustomer.city}"></div>
    <div id="areaData" style="display:none;" th:text="${wechatCustomer.area}"></div>
    
    <th:block th:include="include :: footer" />
    <th:block th:include="include :: datetimepicker-js" />
    <th:block th:include="include :: distpicker-js" />
    <th:block th:include="include :: jquery-tmpl-js" />
    <script th:inline="javascript">
    	var followResultTypeDatas = [[${@dict.getType('follow_result_type')}]];
    	var isDeliveryDatas = [[${@dict.getType('is_delivery')}]];
    	var intentionDegreeDatas = [[${@dict.getType('Intention_degree')}]];
    	var saleRoleFlag = [[${@permission.hasPermi('wxcustomer:WechatCustomer:addSaleInfo')}]];
    	var shRoleFlag = [[${@permission.hasPermi('wxcustomer:WechatCustomer:addPostSale')}]];
    	
        var prefix = ctx + "wxcustomer/WechatCustomer";
        $("#form-WechatCustomer-add").validate({
            focusCleanup: true
        });
        
        $(function() {
        	var khDeliverGoodsDataStr = $('#khDeliverGoodsDataStr').text();
        	if(khDeliverGoodsDataStr){
        		var jsonArray = JSON.parse(khDeliverGoodsDataStr);
	        	for(var i=0;i<jsonArray.length;i++) {
	        		jsonArray[i].followResultTypeName = $.common.getDictName(followResultTypeDatas, jsonArray[i].followResultType);
	        		jsonArray[i].intentionDegreeName = $.common.getDictName(intentionDegreeDatas, jsonArray[i].intentionDegreeName);
	        		jsonArray[i].dealTime = $.common.dateFormat(jsonArray[i].dealTime, 'yyyy-MM-dd hh:mm:ss');
	        		jsonArray[i].nextFollowTime = $.common.dateFormat(jsonArray[i].nextFollowTime, 'yyyy-mm-dd hh:mm:ss');
	        		jsonArray[i].duration = jsonArray[i].durationHour + ":" + jsonArray[i].durationMinute + ":" + jsonArray[i].durationSecond;
	        	}
        		$('#saleInfoTpl').tmpl(jsonArray).appendTo('#saleInfoTable');
        		if(saleRoleFlag == 'hidden') {
        			$('#saleInfoTable').find('a.op').remove();
        		}
        	}
        	
        	var khAfterSaleMemberDataStr = $('#khAfterSaleMemberDataStr').text();
        	if(khAfterSaleMemberDataStr){
        		var jsonArray = JSON.parse(khAfterSaleMemberDataStr);
	        	for(var i=0;i<jsonArray.length;i++) {
	        		jsonArray[i].isDealName = $.common.getDictName(isDeliveryDatas, jsonArray[i].isDeal);
	        		jsonArray[i].intentionDegreeName = $.common.getDictName(intentionDegreeDatas, jsonArray[i].intentionDegreeName);
	        		jsonArray[i].dealTime = $.common.dateFormat(jsonArray[i].dealTime, 'yyyy-MM-dd hh:mm:ss');
	        		jsonArray[i].nextFollowTime = $.common.dateFormat(jsonArray[i].nextFollowTime, 'yyyy-mm-dd hh:mm:ss');
	        		jsonArray[i].duration = jsonArray[i].durationHour + ":" + jsonArray[i].durationMinute + ":" + jsonArray[i].durationSecond;
	        	}
        		$('#postSaleTpl').tmpl(jsonArray).appendTo('#postSaleTable');
        		if(shRoleFlag == 'hidden') {
        			$('#postSaleTable').find('a.op').remove();
        		}
        	}
        	
        	$('#customerAddressSelect').distpicker({
			  province: $('#provinceData').text(),
			  city: $('#provinceData').text(),
			  district: $('#provinceData').text()
			});
        });

        function submitHandler() {
            if (!$.validate.form()) {
            	return;
            }
            var isAdd = $('#isAdd').val();
        	var url = prefix + "/add"; 
        	if(isAdd != 1) {
        		url = prefix + "/edit"; 
        	}
        	
        	$('[name="provinceId"]').val($('[name="province"]').find('option:selected').data('code'));
        	$('[name="cityId"]').val($('[name="city"]').find('option:selected').data('code'));
        	$('[name="areaId"]').val($('[name="area"]').find('option:selected').data('code'));
        	
        	var saleInfoArr = getArrayJson('saleInfoTable');
        	if(saleInfoArr.length > 0) {
        		$('#saleInfoStr').val(JSON.stringify(saleInfoArr));
        	}
        	
        	var postSaleArr = getArrayJson('postSaleTable');
        	if(postSaleArr.length > 0) {
        		$('#postSaleStr').val(JSON.stringify(postSaleArr));
        	}
        	
            $.operate.saveTab(url, $('#form-WechatCustomer-add').serialize());
        }
        
        function getArrayJson(tableName) {
        	var data = [];
        	$('#' + tableName).find('tr').each(function() {
    			var $tdThis = $(this);
    			var json = {};
    			$tdThis.find('[data-name]').each(function() {
    				var $this = $(this);
	    			json[$this.data('name')] = $this.text();
    			});
    			
    			data.push(json);
    		});
    		return data;
        }

        function addSaleInfo() {
        	$.modal.open('添加销售情况', prefix + '/addSaleInfo');
        }
        
        function editSaleInfo(_this) {
        	var id = $(_this).closest('tr').find('[data-name="id"]').text();
        	$.modal.open('修改销售情况',prefix + '/addSaleInfo?id=' + id);
        }
        
        function getJson(type, id) {
            var json = {};
            var $id = getTdById(type, id);
        	if($id) {
        		$id.closest('tr').find('td[data-name]').each(function() {
        			var $this = $(this);
        			json[$this.data('name')] = $this.text();
        		});
        	}
        	return json;
        }
        
        function getTdById(type, id) {
        	var tableName = '';
            var $id = null;
            if(type == 'saleInfo') {
            	tableName = 'saleInfoTable';
            }
            if(type == 'postSale') {
            	tableName = 'postSaleTable';
            }
            
        	$('#' + tableName).find('[data-name="id"]').each(function() {
        		var $this = $(this);
        		if($this.text() == id) {
        			$id = $this;
        			return false;
        		}
        	});
        	return $id;
        }
        
        function handleSaleInfo(json, isAdd) {
        	handleInfo('saleInfo', json, isAdd);
        }
        
        function handleInfo(type, json, isAdd) {
        	if(isAdd) {
        		json.followTimes = handleFollowTimes(type + 'Table') + 1;
        		$('#'+ type + 'Tpl').tmpl(json).appendTo('#' + type + 'Table');
        		return;
        	}
        	var $id = getTdById(type, json.id);
        	if($id) {
        		$id.closest('tr').find('td[data-name]').each(function() {
        			var $this = $(this);
        			$this.text(json[$this.data('name')]);
        		});
        	}
        }
        
        function handleFollowTimes(tableName) {
        	var $followTimes = $('#' + tableName).find('[data-name="followTimes"]').last();
        	if($followTimes.size() == 0) {
        		return 0;
        	}
        	
        	return Number($followTimes.text());
        }
        
        function addPostSale() {
        	$.modal.open('添加售后情况', prefix + '/addPostSale');
        }
        
        function editPostSale(_this) {
        	var id = $(_this).closest('tr').find('[data-name="id"]').text();
        	$.modal.open('修改售后情况',prefix + '/addPostSale?id=' + id);
        }
        
        function handlePostSale(json, isAdd) {
        	handleInfo('postSale', json, isAdd);
        }
        
        $("input[name='customerbirthday']").datetimepicker({
            format: "yyyy-mm-dd",
            minView: "month",
            autoclose: true
        });

        $("input[name='nexttime']").datetimepicker({
            format: "yyyy-mm-dd",
            minView: "month",
            autoclose: true
        });
        
    </script>
    
    <script  id="saleInfoTpl" type="text/x-jquery-tmpl">
 		<tr>
 		  <td data-name="id" style="display:none;">${id}</td>
 		  <td data-name="intentionDegree" style="display:none;">${intentionDegree}</td>
	      <td data-name="intentionDegreeName" style="display:none;">${intentionDegreeName}</td>
	      <td data-name="dealAmount" style="display:none;">${dealAmount}</td>
	      <td data-name="sendSampleList" style="display:none;">${sendSampleList}</td>
	      <td data-name="giftsList" style="display:none;">${giftsList}</td>
	      <td data-name="troubleSpots" style="display:none;">${troubleSpots}</td>
	      <td data-name="intentionPoint" style="display:none;">${intentionPoint}</td>
	      <td data-name="nextFollowMentality" style="display:none;">${nextFollowMentality}</td>
	      <td data-name="followTimes">${followTimes}</td>
	      <td data-name="followResultType" style="display:none;">${followResultType}</td>
	      <td data-name="followResultTypeName">${followResultTypeName}</td>
	      <td data-name="dealTime">${dealTime}</td>
	      <td data-name="followResult">${followResult}</td>
	      <td data-name="nextFollowTime">${nextFollowTime}</td>
	      <td data-name="duration">${duration}</td>
	      <td data-name="durationHour" style="display:none;">${durationHour}</td>
	      <td data-name="durationMinute" style="display:none;">${durationMinute}</td>
	      <td data-name="durationSecond" style="display:none;">${durationSecond}</td>
	      <td data-name="creatorId" style="display:none;">${creatorId}</td>
	      <td data-name="creator">${creator}</td>
	      <td><a href="javascript:;" onclick="editSaleInfo(this);" class="op">修改</a></td>
	    </tr>
	</script>
	
	<script  id="postSaleTpl" type="text/x-jquery-tmpl">
	    <tr>
 		  <td data-name="id" style="display:none;">${id}</td>
 		  <td data-name="intentionDegree" style="display:none;">${intentionDegree}</td>
	      <td data-name="intentionDegreeName" style="display:none;">${intentionDegreeName}</td>
	      <td data-name="dealAmount" style="display:none;">${dealAmount}</td>
	      <td data-name="sendSampleList" style="display:none;">${sendSampleList}</td>
	      <td data-name="giftsList" style="display:none;">${giftsList}</td>
	      <td data-name="troubleSpots" style="display:none;">${troubleSpots}</td>
	      <td data-name="intentionPoint" style="display:none;">${intentionPoint}</td>
	      <td data-name="nextFollowMentality" style="display:none;">${nextFollowMentality}</td>
 		  
	      <td data-name="followTimes">${followTimes}</td>
	      <td data-name="isDeal" style="display:none;">${isDeal}</td>
	      <td data-name="isDealName">${isDealName}</td>
	      <td data-name="dealTime">${dealTime}</td>
	      <td data-name="followResult">${followResult}</td>
	      <td data-name="nextFollowTime">${nextFollowTime}</td>
	      <td data-name="duration">${duration}</td>
	      <td data-name="durationHour" style="display:none;">${durationHour}</td>
	      <td data-name="durationMinute" style="display:none;">${durationMinute}</td>
	      <td data-name="durationSecond" style="display:none;">${durationSecond}</td>
	      <td data-name="creatorId" style="display:none;">${creatorId}</td>
	      <td data-name="creator">${creator}</td>
	      <td><a href="javascript:;" onclick="editPostSale(this);" class="op">修改</a></td>
	    </tr>

       
	</script>
</body>
</html>