<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('微信客户列表')" />
</head>
<body class="gray-bg">
     <div class="container-div">
        <div class="row">
            <div class="col-sm-12 search-collapse">
                <form id="formId">
                    <div class="select-list">
                        <ul>
                            <li>
                                <p>电话号：</p>
                                <input type="text" name="phoneNumber"/>
                            </li>
                            <li>
                                <p>微信号：</p>
                                <input type="text" name="weixinNumber"/>
                            </li>
                            <li>
                                <p>客户姓名：</p>
                                <input type="text" name="customerName"/>
                            </li>
                            <li>
                                <p>对接业务员：</p>
                                <input type="text" name="creator"/>
                            </li>
                            
                            <li>
                                <p>是否发样：</p>
                                <select name="isDelivery" th:with="type=${@dict.getType('is_delivery')}">
                                    <option value="">所有</option>
                                    <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
                                </select>
                            </li>
                            <li>
                                <p>是否发货：</p>
                                <select name="isSales" th:with="type=${@dict.getType('is_delivery')}">
                                    <option value="">所有</option>
                                    <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
                                </select>
                            </li>
                            
                            <li class="select-time">
                                <p>创建时间：</p>
                                <input type="text" class="time-input" id="startTime" placeholder="开始时间" name="params[beginCreationTime]"/>
                                <span>-</span>
                                <input type="text" class="time-input" id="endTime" placeholder="结束时间" name="params[endCreationTime]"/>
                            </li>
                        </ul>
                        <ul>
                        	 <li style="width: 200%;">
		                         <p>省市区：</p>
		                         <div data-toggle="distpicker">
			                          <select name="province"></select>
			                          <select name="city"></select>
			                          <select name="area"></select>
		                         </div>
		                     </li>
		                     <li>
                                <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
                                <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
                            </li>
                        </ul>
                    </div>
                </form>
            </div>

            <div class="btn-group-sm" id="toolbar" role="group">
                <a class="btn btn-success" onclick="$.operate.addTab()" shiro:hasPermission="wxcustomer:WechatCustomer:add">
                    <i class="fa fa-plus"></i> 添加
                </a>
                <a class="btn btn-primary single disabled" onclick="$.operate.editTab()" shiro:hasPermission="wxcustomer:WechatCustomer:edit">
                    <i class="fa fa-edit"></i> 修改
                </a>
                <a class="btn btn-danger multiple disabled" onclick="$.operate.removeAll()" shiro:hasPermission="wxcustomer:WechatCustomer:remove">
                    <i class="fa fa-remove"></i> 删除
                </a>
                <a class="btn btn-warning" onclick="$.table.exportExcel()" shiro:hasPermission="wxcustomer:WechatCustomer:export">
                    <i class="fa fa-download"></i> 导出
                 </a>
            </div>
            <div class="col-sm-12 select-table table-striped">
                <table id="bootstrap-table"></table>
            </div>
        </div>
    </div>
    <th:block th:include="include :: footer" />
    <th:block th:include="include :: distpicker-js" />
    <script th:inline="javascript">
        var editFlag = [[${@permission.hasPermi('wxcustomer:WechatCustomer:edit')}]];
        var removeFlag = [[${@permission.hasPermi('wxcustomer:WechatCustomer:remove')}]];
        var customerTypeDatas = [[${@dict.getType('customer_type')}]];
        var isDeliveryDatas = [[${@dict.getType('is_delivery')}]];
        var isSalesDatas = [[${@dict.getType('is_delivery')}]];
        var prefix = ctx + "wxcustomer/WechatCustomer";

        $(function() {
            var options = {
                url: prefix + "/list",
                code: "customerId",
                uniqueId: "customerId",
                createUrl: prefix + "/add",
                updateUrl: prefix + "/edit/{id}",
                removeUrl: prefix + "/remove/{id}",
                exportUrl: prefix + "/export",
                modalName: "微信客户",
                columns: [{
                    checkbox: true
                },
                {
                    field : 'customerId', 
                    title : 'customerId',
                    visible: false
                },
                {
                    field : 'phoneNumber', 
                    title : '电话号'
                },
                {
                    field : 'weixinNumber', 
                    title : '微信号'
                },
                {
                    field : 'customerName', 
                    title : '客户姓名'
                },
                {
                    field : 'province', 
                    title : '省'
                },
                {
                    field : 'city', 
                    title : '市'
                },
                {
                    field : 'area', 
                    title : '区'
                },
                {
                    field : 'shopName', 
                    title : '店名'
                },
                {
                    field : 'creator', 
                    title : '对接业务员'
                },
                {
                    field : 'creationTime', 
                    title : '创建时间'
                },
                {
                    field : 'isDelivery', 
                    title : '是否发样',
                    formatter: function(value, row, index) {
                       return $.table.selectDictLabel(isDeliveryDatas, value);
                    }
                },
                {
                    field : 'isSales', 
                    title : '是否销售',
                    formatter: function(value, row, index) {
                       return $.table.selectDictLabel(isSalesDatas, value);
                    }
                },
                {
                    title: '操作',
                    align: 'center',
                    formatter: function(value, row, index) {
                        var actions = [];
                        actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="javascript:void(0)" onclick="$.operate.editTab(\'' + row.customerId + '\')"><i class="fa fa-edit"></i>编辑</a> ');
                        actions.push('<a class="btn btn-danger btn-xs ' + removeFlag + '" href="javascript:void(0)" onclick="$.operate.remove(\'' + row.customerId + '\')"><i class="fa fa-remove"></i>删除</a>');
                        return actions.join('');
                    }
                }]
            };
            $.table.init(options);
        });
    </script>
</body>
</html>