<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
	<th:block th:include="include :: header('成交明细信息')" />
	<th:block th:include="include :: datetimepicker-css" />
</head>
<body class="white-bg">
	
	<div class="wrapper wrapper-content animated fadeInRight ibox-content">
	<div class="btn-group-sm"  role="group">
	       <a class="btn btn-success" onclick="window.history.go(-1);"  >
	        <i class="fa fa-mail-reply" aria-hidden="true"></i> 返回
	      </a>
	 </div>
	 <h4 class="form-header h4">基本信息</h4>
		<form class="form-horizontal m" >
			<div class="form-group">
				<label class="col-sm-2 control-label">电话号：</label>
				<div class="col-sm-4">
					<input class="form-control" type="text" readonly="readonly"  th:value="${vo.phoneNumber}" >
				</div>
		 
				<label class="col-sm-2 control-label">微信号：</label>
				<div class="col-sm-4">
					<input class="form-control" type="text" readonly="readonly"   th:value="${vo.weixinNumber}"  >
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-2 control-label">客户名称：</label>
				<div class="col-sm-4">
					<input class="form-control" type="text"  readonly="readonly"  th:value="${vo.customerName}">
				</div>
			 
				<label class="col-sm-2 control-label">对接业务员：</label>
				<div class="col-sm-4">
					<input class="form-control" type="text"  readonly="readonly"  th:value="${vo.creator}">
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-2 control-label">性别：</label>
				<div class="col-sm-4">
				<select name="customerType" class="form-control m-b" th:with="type=${@dict.getType('sys_user_sex')}" disabled="disabled">
                       <option value="">请选择</option>
                       <option th:each="dict : ${type}" th:text="${dict.dictLabel}"  readonly="readonly" th:value="${dict.dictValue}" th:field="*{vo.gender}"></option>
                   </select>
					<input class="form-control" type="hidden" readonly="readonly"  th:value="${vo.gender}">
				</div>
			 
				<label class="col-sm-2 control-label">性格：</label>
				<div class="col-sm-4">
					<input class="form-control" type="text" readonly="readonly "  th:value="${vo.khCharacter}">
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-2 control-label">客户地址：</label>
				<div class="col-sm-2">
					<input class="form-control" type="text"  readonly="readonly"  th:value="${vo.province}">
				</div>
				<div class="col-sm-2">
					<input class="form-control" type="text"  readonly="readonly"  th:value="${vo.city }">
				</div>
				<div class="col-sm-2">
					<input class="form-control" type="text"  readonly="readonly"  th:value="${ vo.area}">
				</div>
				<div class="col-sm-3">
					<input class="form-control" type="text"  readonly="readonly"  th:value="${ vo.customerAddress}">
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-2 control-label">通话时长：</label>
				<div class="col-sm-4">
					<input class="form-control" type="text"  readonly="readonly"  th:value="${vo.durationHour  +'时'+vo.durationMinute+'分'+ vo.durationSecond+'秒'}">
				</div>
			 
				<label class="col-sm-2 control-label">预约客户沟通时间：</label>
				<div class="col-sm-4">
					<input class="form-control" type="text"  readonly="readonly"  th:value="${#dates.format(vo.appointmentTime,'yyyy-MM-dd')}">
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-2 control-label">店名：</label>
				<div class="col-sm-4">
					<input class="form-control" type="text"  readonly="readonly"  th:value="${vo.shopName}">
				</div>
			 
				<label class="col-sm-2 control-label">客户类型：</label>
				<div class="col-sm-4">
				<select name="customerType" class="form-control m-b" th:with="type=${@dict.getType('customer_type')}" disabled="disabled">
                       <option value="">请选择</option>
                       <option th:each="dict : ${type}" th:text="${dict.dictLabel}"  readonly="readonly" th:value="${dict.dictValue}" th:field="*{vo.customerType}"></option>
                   </select>
					<input class="form-control" type="hidden"  readonly="readonly"  th:value="${vo.customerType}">
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-2 control-label">店铺数：</label>
				<div class="col-sm-4">
					<input class="form-control" type="text"  readonly="readonly"  th:value="${vo.customerNum}">
				</div>
			 
				<label class="col-sm-2 control-label">店员数：</label>
				<div class="col-sm-4">
					<input class="form-control" type="text"  readonly="readonly"  th:value="${vo.shopAssistantNumber}">
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-2 control-label">店铺规模：</label>
				<div class="col-sm-4">
					<input class="form-control" type="text"  readonly="readonly"  th:value="${vo.storeScale}">
				</div>
			 
				<label class="col-sm-2 control-label">订单总金额：</label>
				<div class="col-sm-4">
					<input class="form-control" type="text"  readonly="readonly"  th:value="1">
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-2 control-label">成交日期：</label>
				<div class="col-sm-4">
					<input class="form-control" type="text"  readonly="readonly"  th:value="${#dates.format(vo.dealTime,'yyyy-MM-dd')}">
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-2 control-label">需求产品：</label>
				<div class="col-sm-8">
					<textarea class="form-control"   readonly="readonly" th:text="${vo.demandProduct}"  ></textarea>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-2 control-label">意向点：</label>
				<div class="col-sm-8">
					<textarea class="form-control" type="text"  readonly="readonly"  th:text="${vo.intentionPoint}"></textarea>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-2 control-label">问题点：</label>
				<div class="col-sm-8">
					<textarea class="form-control" type="text"  readonly="readonly"  th:text="${vo.troubleSpots}"></textarea>
				</div>
			</div>
			
			
			<div class="form-group">
				<label class="col-sm-2 control-label">成交清单：</label>
				<div class="col-sm-8">
					<textarea class="form-control" type="text"  readonly="readonly"  th:text="${vo.sendSampleList}"></textarea>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-2 control-label">赠品清单：</label>
				<div class="col-sm-8">
					<textarea class="form-control" type="text"  readonly="readonly"  th:text="${vo.giftsList}"></textarea>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-2 control-label">备注：</label>
				<div class="col-sm-8">
					<textarea class="form-control" type="text"  readonly="readonly"  th:text="${vo.remark }"></textarea>
				</div>
			</div>
		</form>
		<h4 class="form-header h4">快递单</h4>
        <form class="form-horizontal m"  >
           <div class="col-md-12">
   		 <div class="form-group">
        <label class="col-sm-2 control-label">发件人：</label>
        <div class="col-sm-4">
            <input type="text" name="sender" class="form-control" placeholder="请输入发件人" readonly="readonly"  th:value="${vo.sender}">
        </div>
    
        <label class="col-sm-2 control-label">发件人电话：</label>
        <div class="col-sm-4">
            <input type="text" name="senderPhone" class="form-control" placeholder="请输入发件人电话" readonly="readonly"  th:value="${vo.senderPhone}">
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">发件人地址：</label>
        <div class="col-sm-4">
            <input type="text" name="senderAddress" class="form-control" placeholder="请输入发件人地址" readonly="readonly"  th:value="${vo.senderAddress}">
        </div>
     
        <label class="col-sm-2 control-label">发货日期：</label>
        <div class="col-sm-4">
            <div class="input-group date"> <span class="input-group-addon"><i class="fa fa-calendar"></i></span>

                <input type="text" name="sendTime" class="form-control"  readonly="readonly"  th:value="${#dates.format(vo.sendTime,'yyyy-MM-dd')}">
            </div>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">快递单号：</label>
        <div class="col-sm-4">
            <input type="text" name="courierNumber" class="form-control" placeholder="请输入快递单号" readonly="readonly" th:value="${vo.courierNumber}">  
        </div>
    
        <label class="col-sm-2 control-label">物流公司：</label>
        <div class="col-sm-4">
            <input type="text" name="logisticsCompany" class="form-control" placeholder="请输入物流公司" readonly="readonly"  th:value="${vo.logisticsCompany}">
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">邮费：</label>
        <div class="col-sm-4">
            <input type="text" name="postage" class="form-control" placeholder="请输入邮费" readonly="readonly"  th:value="${vo.postage}">
        </div>
   
        <label class="col-sm-2 control-label">代收金额：</label>
        <div class="col-sm-4">
            <input type="text" name="collectingAmount" class="form-control" placeholder="请输入代收金额" readonly="readonly"  th:value="${vo.collectingAmount}">
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">保价金额：</label>
        <div class="col-sm-4">
            <input type="text" name="insuranceAmount" class="form-control" placeholder="请输入保价金额" readonly="readonly"  th:value="${vo.insuranceAmount}">
        </div>
    </div>
        </form>
    </div>
	</div>
	<th:block th:include="include :: footer" />
	<th:block th:include="include :: datetimepicker-js" />
	 
</body>
</html>