<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('成交情况列表')" />
</head>
<body class="gray-bg">
     <div class="container-div">
        <div class="row">
            <div class="col-sm-12 search-collapse">
                <form id="formId">
                    <div class="select-list">
                        <ul>
                        	<li>
                        		<p>手机号：</p>
                        		<input type="text" name="phoneNumber"/>
                        	</li>
                        	<li>
                        		<p>微信号：</p>
                        		<input type="text" name="weixinNumber"/>
                        	</li>
                        	<li>
                        		<p>客户姓名：</p>
                        		<input type="text" name="customerName"/>
                        	</li>
                        	<li>
                        		<p>客户类型：</p>
                        		<select name="customerType" th:with="type=${@dict.getType('customer_type')}">
                                    <option value="">所有</option>
                                    <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
                                </select>
                        	</li>
                        	<!-- <li>
                        		<p>店铺类型：</p>
                        		<input type="text" name="sender"/>
                        	</li> -->
                        	<li>
                        		<p>成交人：</p>
                        		<input type="text" name="sender"/>
                        	</li>
                        	<li class='select-time'>
                        		<p>成交时间：</p>
                        		<input type="text" class='time-input' id='dealTimeStart' name="dealTimeStart"/>
                        		<span>-</span>
                        		<input type="text" class='time-input' id='dealTimeEnd' name="dealTimeEnd"/>
                        	</li>
                        	<li>
                        		<p>是否发货：</p>
                        		 <select name="isafterSale" th:with="type=${@dict.getType('is_delivery')}">
                                    <option value="">所有</option>
                                    <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
                                </select>
                        	</li>
                        	<li>
                        		<p>成交类型：</p>
                        		 <select name="dealType"  id="dealType" >
                                    <option value="1">发样成交</option>
                                    <option value="2">售后成交</option>
                                </select>
                        	</li>
                        </ul>
                    </div>
                </form>
            </div>
			 <div  class="btn-group-sm" id="toolbar" role="group">
	                <a class="btn btn-success" onclick="$.table.search()"  >
	                    <i class="fa fa-search"></i> 查询
	                </a>
	                <a class="btn btn-primary  " onclick="$.form.reset()"  >
	                    <i class="fa fa-refresh"></i> 清空
	                </a>
	                
	                <a class="btn btn-success  single disabled" onclick="distributionStaff()"  th:if="${isSHZZ}"  shiro:hasPermission="deal:deal:giveSale">
                    	<i class="fa fa-ravelry"></i> 分配售后人员
               		 </a>
                    <a class="btn btn-danger multiple disabled" onclick="$.operate.removeAll()" shiro:hasPermission="deal:deal:remove">
                    	<i class="fa fa-remove"></i> 删除
               		 </a>
               		 <a class="btn btn-success  single disabled" onclick="afterSale()" shiro:hasPermission="deal:deal:send" >
                  	  <i class="fa fa-ravelry"></i> 发货
                	 </a>
            </div>  
                	 
            <div class="col-sm-12 select-table table-striped">
                <table id="bootstrap-table"></table>
            </div>
        </div>
    </div>
    <th:block th:include="include :: footer" />
    <script th:inline="javascript">
        var editFlag = [[${@permission.hasPermi('deal:deal:edit')}]];
        var removeFlag = [[${@permission.hasPermi('deal:deal:remove')}]];
        var followResultTypeDatas = [[${@dict.getType('follow_result_type')}]];
        var prefix = ctx + "wxcustomer/deal";
        
        $(function() {
            var options = {
                url: prefix + "/list",
                createUrl: prefix + "/add",
                updateUrl: prefix + "/edit/{id}",
                removeUrl: prefix + "/remove?dealType="+dealType,
                exportUrl: prefix + "/export",
                modalName: "成交情况",
                columns: [{
                    checkbox: true
                },
                 {
                    field : 'id', 
                    title : 'ID',
                    visible: false
                }, 
                {
                    field : 'orderNumber', 
                    title : '订单号',
                    formatter: function(value, row, index) {
                    	var dealType=$("#dealType").val();
                    	return "<a class='orderNumber' href='/wxcustomer/deal/detail?orderNumber="+value+"&dealType="+dealType+"'>"+value+"</a>"
                        // return $.table.selectDictLabel(followResultTypeDatas, value);
                    }
                },
                {
                    field : 'weixinNumber', 
                    title : '微信号'
                },
                {
                    field : 'customerName', 
                    title : '客户姓名'
                },
                {
                    field : 'shopName', 
                    title : '店名'
                },
                {
                    field : 'phoneNumber', 
                    title : '手机号'
                },
                {
                    field : 'creator', 
                    title : '对接业务员'
                },
                {
                    field : 'dealTime', 
                    title : '成交日期'
                },
                {
                    field : 'courierNumber', 
                    title : '是否发货',
                    formatter: function(value, row, index) {
                    	if(value==""||value==null){
                    		return "否";
                    	}else{
                    		return "是";
                    	}
                    	  
                    }
                } ]
            };
            $.table.init(options);
        });
        //发货
        function afterSale() {
        	var dealType=$("#dealType").val();
        	var ck=$("#bootstrap-table").find('tbody').find(".bs-checkbox ").find("input[type='checkbox']:checked");
        	if(ck.length<1||ck.length>1){
        		$.modal.alertWarning('必须是勾选一项！')
        		return;
        	}
        	var orderNumber=$(ck[0]).parent().parent().find(".orderNumber").html();
        	$.modal.open('快递单', prefix + '/expressBill?orderNumber='+orderNumber+"&dealType="+dealType);
        	//$('#afterSaleModal').modal('show');
        }
        //分配售后人员
        function distributionStaff(){
        	var dealType=$("#dealType").val();
        	var ck=$("#bootstrap-table").find('tbody').find(".bs-checkbox ").find("input[type='checkbox']:checked");
        	if(ck.length<1||ck.length>1){
        		$.modal.alertWarning('必须是勾选一项！')
        		return;
        	}
        	var orderNumber=$(ck[0]).parent().parent().find(".orderNumber").html();
        	$.modal.open('分配售后人员', "/wxcustomer/common/user?requestType=afterSale&orderNumber="+orderNumber+"&dealType="+dealType);
        }
       
    </script>
	 
</body>
</html>