<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.wxcustomer.mapper.KhAfterSaleMemberMapper">
    
    <resultMap type="KhAfterSaleMember" id="KhAfterSaleMemberResult">
        <result property="id"    column="id"    />
        <result property="customerId"    column="customer_id"    />
        <result property="followResultType"    column="follow_result_type"    />
        <result property="dealAmount"    column="deal_amount"    />
        <result property="sendSampleList"    column="send_sample_list"    />
        <result property="giftsList"    column="gifts_list"    />
        <result property="dealTime"    column="deal_time"    />
        <result property="troubleSpots"    column="trouble_spots"    />
        <result property="intentionPoint"    column="intention_point"    />
        <result property="followTimes"    column="follow_times"    />
        <result property="followResult"    column="follow_result"    />
        <result property="durationHour"    column="duration_hour"    />
        <result property="durationMinute"    column="duration_minute"    />
        <result property="durationSecond"    column="duration_second"    />
        <result property="nextFollowTime"    column="next_follow_time"    />
        <result property="nextFollowMentality"    column="next_follow_mentality"    />
        <result property="creatorId"    column="creator_id"    />
        <result property="creator"    column="creator"    />
        <result property="sender"    column="sender"    />
        <result property="senderPhone"    column="sender_phone"    />
        <result property="senderAddress"    column="sender_address"    />
        <result property="sendTime"    column="send_time"    />
        <result property="courierNumber"    column="courier_number"    />
        <result property="logisticsCompany"    column="logistics_company"    />
        <result property="collectingAmount"    column="collecting_amount"    />
        <result property="insuranceAmount"    column="insurance_amount"    />
        <result property="postage"    column="postage"    />
        <result property="isDeal"    column="is_deal"    />
        <result property="orderNumber"    column="order_number"    />
         <result property="isDelete"    column="is_delete"    />
        <result property="intentionDegree"    column="intention_degree"    />
    </resultMap>

    <sql id="selectKhAfterSaleMemberVo">
        select id, customer_id, follow_result_type, deal_amount, send_sample_list, gifts_list, deal_time, trouble_spots, intention_point, follow_times, follow_result, duration_hour, duration_minute, duration_second, next_follow_time, next_follow_mentality, creator_id, creator, sender, sender_phone, sender_address, send_time, courier_number, logistics_company, collecting_amount, insurance_amount, postage, is_deal,order_number,is_delete,intention_degree  from kh_after_sale_member
    </sql>

    <select id="selectKhAfterSaleMemberList" parameterType="KhAfterSaleMember" resultMap="KhAfterSaleMemberResult">
        <include refid="selectKhAfterSaleMemberVo"/>
        <where>  
            <if test="followResultType != null  and followResultType != ''"> and follow_result_type = #{followResultType}</if>
            <if test="params.beginDealAmount != null and params.beginDealAmount != '' and params.endDealAmount != null and params.endDealAmount != ''"> and deal_amount between #{params.beginDealAmount} and #{params.endDealAmount}</if>
            <if test="params.beginDealTime != null and params.beginDealTime != '' and params.endDealTime != null and params.endDealTime != ''"> and deal_time between #{params.beginDealTime} and #{params.endDealTime}</if>
            <if test="creator != null  and creator != ''"> and creator = #{creator}</if>
            <if test="isDeal != null  and isDeal != ''"> and is_deal = #{isDeal}</if>
        </where>
    </select>
    
    <select id="selectKhAfterSaleMemberById" parameterType="String" resultMap="KhAfterSaleMemberResult">
        <include refid="selectKhAfterSaleMemberVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertKhAfterSaleMember" parameterType="KhAfterSaleMember">
        insert into kh_after_sale_member
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null  and id != ''">id,</if>
            <if test="customerId != null  and customerId != ''">customer_id,</if>
            <if test="followResultType != null  and followResultType != ''">follow_result_type,</if>
            <if test="dealAmount != null ">deal_amount,</if>
            <if test="sendSampleList != null  and sendSampleList != ''">send_sample_list,</if>
            <if test="giftsList != null  and giftsList != ''">gifts_list,</if>
            <if test="dealTime != null ">deal_time,</if>
            <if test="troubleSpots != null  and troubleSpots != ''">trouble_spots,</if>
            <if test="intentionPoint != null  and intentionPoint != ''">intention_point,</if>
            <if test="followTimes != null ">follow_times,</if>
            <if test="followResult != null  and followResult != ''">follow_result,</if>
            <if test="durationHour != null ">duration_hour,</if>
            <if test="durationMinute != null ">duration_minute,</if>
            <if test="durationSecond != null ">duration_second,</if>
            <if test="nextFollowTime != null ">next_follow_time,</if>
            <if test="nextFollowMentality != null  and nextFollowMentality != ''">next_follow_mentality,</if>
            <if test="creatorId != null  and creatorId != ''">creator_id,</if>
            <if test="creator != null  and creator != ''">creator,</if>
            <if test="sender != null  and sender != ''">sender,</if>
            <if test="senderPhone != null  and senderPhone != ''">sender_phone,</if>
            <if test="senderAddress != null  and senderAddress != ''">sender_address,</if>
            <if test="sendTime != null ">send_time,</if>
            <if test="courierNumber != null  and courierNumber != ''">courier_number,</if>
            <if test="logisticsCompany != null  and logisticsCompany != ''">logistics_company,</if>
            <if test="collectingAmount != null ">collecting_amount,</if>
            <if test="insuranceAmount != null ">insurance_amount,</if>
            <if test="postage != null ">postage,</if>
            <if test="isDeal != null  and isDeal != ''">is_deal,</if>
             <if test="orderNumber != null  and orderNumber != ''">order_number,</if>
            <if test="isDelete != null  and isDelete != ''">is_delete,</if>
            <if test="intentionDegree != null  and intentionDegree != '' ">intention_degree,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null  and id != ''">#{id},</if>
            <if test="customerId != null  and customerId != ''">#{customerId},</if>
            <if test="followResultType != null  and followResultType != ''">#{followResultType},</if>
            <if test="dealAmount != null ">#{dealAmount},</if>
            <if test="sendSampleList != null  and sendSampleList != ''">#{sendSampleList},</if>
            <if test="giftsList != null  and giftsList != ''">#{giftsList},</if>
            <if test="dealTime != null ">#{dealTime},</if>
            <if test="troubleSpots != null  and troubleSpots != ''">#{troubleSpots},</if>
            <if test="intentionPoint != null  and intentionPoint != ''">#{intentionPoint},</if>
            <if test="followTimes != null ">#{followTimes},</if>
            <if test="followResult != null  and followResult != ''">#{followResult},</if>
            <if test="durationHour != null ">#{durationHour},</if>
            <if test="durationMinute != null ">#{durationMinute},</if>
            <if test="durationSecond != null ">#{durationSecond},</if>
            <if test="nextFollowTime != null ">#{nextFollowTime},</if>
            <if test="nextFollowMentality != null  and nextFollowMentality != ''">#{nextFollowMentality},</if>
            <if test="creatorId != null  and creatorId != ''">#{creatorId},</if>
            <if test="creator != null  and creator != ''">#{creator},</if>
            <if test="sender != null  and sender != ''">#{sender},</if>
            <if test="senderPhone != null  and senderPhone != ''">#{senderPhone},</if>
            <if test="senderAddress != null  and senderAddress != ''">#{senderAddress},</if>
            <if test="sendTime != null ">#{sendTime},</if>
            <if test="courierNumber != null  and courierNumber != ''">#{courierNumber},</if>
            <if test="logisticsCompany != null  and logisticsCompany != ''">#{logisticsCompany},</if>
            <if test="collectingAmount != null ">#{collectingAmount},</if>
            <if test="insuranceAmount != null ">#{insuranceAmount},</if>
            <if test="postage != null ">#{postage},</if>
            <if test="isDeal != null  and isDeal != ''">#{isDeal},</if>
            <if test="orderNumber != null  and orderNumber != ''">#{orderNumber},</if>
             <if test="isDelete != null and isDelete != '' ">#{isDelete},</if>
            <if test="intentionDegree != null and intentionDegree != ''">#{intentionDegree},</if>
         </trim>
    </insert>

    <update id="updateKhAfterSaleMember" parameterType="KhAfterSaleMember">
        update kh_after_sale_member
        <trim prefix="SET" suffixOverrides=",">
            <if test="customerId != null  and customerId != ''">customer_id = #{customerId},</if>
            <if test="followResultType != null  and followResultType != ''">follow_result_type = #{followResultType},</if>
            <if test="dealAmount != null ">deal_amount = #{dealAmount},</if>
            <if test="sendSampleList != null  and sendSampleList != ''">send_sample_list = #{sendSampleList},</if>
            <if test="giftsList != null  and giftsList != ''">gifts_list = #{giftsList},</if>
            <if test="dealTime != null ">deal_time = #{dealTime},</if>
            <if test="troubleSpots != null  and troubleSpots != ''">trouble_spots = #{troubleSpots},</if>
            <if test="intentionPoint != null  and intentionPoint != ''">intention_point = #{intentionPoint},</if>
            <if test="followTimes != null ">follow_times = #{followTimes},</if>
            <if test="followResult != null  and followResult != ''">follow_result = #{followResult},</if>
            <if test="durationHour != null ">duration_hour = #{durationHour},</if>
            <if test="durationMinute != null ">duration_minute = #{durationMinute},</if>
            <if test="durationSecond != null ">duration_second = #{durationSecond},</if>
            <if test="nextFollowTime != null ">next_follow_time = #{nextFollowTime},</if>
            <if test="nextFollowMentality != null  and nextFollowMentality != ''">next_follow_mentality = #{nextFollowMentality},</if>
            <if test="creatorId != null  and creatorId != ''">creator_id = #{creatorId},</if>
            <if test="creator != null  and creator != ''">creator = #{creator},</if>
            <if test="sender != null  and sender != ''">sender = #{sender},</if>
            <if test="senderPhone != null  and senderPhone != ''">sender_phone = #{senderPhone},</if>
            <if test="senderAddress != null  and senderAddress != ''">sender_address = #{senderAddress},</if>
            <if test="sendTime != null ">send_time = #{sendTime},</if>
            <if test="courierNumber != null  and courierNumber != ''">courier_number = #{courierNumber},</if>
            <if test="logisticsCompany != null  and logisticsCompany != ''">logistics_company = #{logisticsCompany},</if>
            <if test="collectingAmount != null ">collecting_amount = #{collectingAmount},</if>
            <if test="insuranceAmount != null ">insurance_amount = #{insuranceAmount},</if>
            <if test="postage != null ">postage = #{postage},</if>
            <if test="isDeal != null  and isDeal != ''">is_deal = #{isDeal},</if>
            <if test="orderNumber != null  and orderNumber != ''">order_number = #{orderNumber},</if>
             <if test="isDelete != null  and isDelete != ''">is_delete = #{isDelete},</if>
            <if test="intentionDegree != null  and intentionDegree != ''">intention_degree = #{intentionDegree},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteKhAfterSaleMemberById" parameterType="String">
        delete from kh_after_sale_member where id = #{id}
    </delete>

    <delete id="deleteKhAfterSaleMemberByIds" parameterType="String">
        delete from kh_after_sale_member where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    
    <select id="findKhAfterSaleMemberByCustomerId" resultMap="KhAfterSaleMemberResult" parameterType="String">
    	select * from kh_after_sale_member where customer_id=#{customerId} and is_delete='0' order by follow_times
    </select>
    
    
    <resultMap type="AfterSaleMemberVO" id="afterSaleMemberVOResult">
        <result property="id"    column="id"    />
        <result property="orderNumber"    column="ORDER_NUMBER"    />
        <result property="customerId"    column="customer_id"    />
        <result property="followResultType"    column="follow_result_type"    />
        <result property="dealAmount"    column="deal_amount"    />
        <result property="sendSampleList"    column="send_sample_list"    />
        <result property="giftsList"    column="gifts_list"    />
        <result property="dealTime"    column="deal_time"    />
        <result property="troubleSpots"    column="trouble_spots"    />
        <result property="intentionPoint"    column="intention_point"    />
        <result property="followTimes"    column="follow_times"    />
        <result property="followResult"    column="follow_result"    />
        <result property="durationHour"    column="duration_hour"    />
        <result property="durationMinute"    column="duration_minute"    />
        <result property="durationSecond"    column="duration_second"    />
        <result property="nextFollowTime"    column="next_follow_time"    />
        <result property="nextFollowMentality"    column="next_follow_mentality"    />
        <result property="creatorId"    column="creator_id"    />
        <result property="creator"    column="creator"    />
        <result property="sender"    column="sender"    />
        <result property="senderPhone"    column="sender_phone"    />
        <result property="senderAddress"    column="sender_address"    />
        <result property="sendTime"    column="send_time"    />
        <result property="courierNumber"    column="courier_number"    />
        <result property="logisticsCompany"    column="logistics_company"    />
        <result property="collectingAmount"    column="collecting_amount"    />
        <result property="insuranceAmount"    column="insurance_amount"    />
        <result property="postage"    column="postage"    />
          <result property="isDelete"    column="is_delete"    />
        <result property="intentionDegree"    column="intention_degree"    />
        <!-- 客户表 -->
         <result property="customerId"    column="customer_id"    />
        <result property="phoneNumber"    column="phone_number"    />
        <result property="weixinNumber"    column="weixin_number"    />
        <result property="customerName"    column="customer_name"    />
        <result property="gender"    column="gender"    />
        <result property="khCharacter"    column="kh_character"    />
        <result property="provinceId"    column="province_id"    />
        <result property="province"    column="province"    />
        <result property="cityId"    column="city_id"    />
        <result property="city"    column="city"    />
        <result property="areaId"    column="area_id"    />
        <result property="area"    column="area"    />
        <result property="customerAddress"    column="customer_address"    />
        <result property="shopName"    column="shop_name"    />
        <result property="appointmentTime"    column="appointment_time"    />
        <result property="customerType"    column="customer_type"    />
        <result property="shopAssistantNumber"    column="shop_assistant_number"    />
        <result property="storeScale"    column="store_scale"    />
        <result property="creationTime"    column="creation_time"    />
        <result property="demandProduct"    column="demand_product"    />
        <result property="customerNum"    column="customer_num"    />
        <result property="remark"    column="remark"    />
        <result property="isDelivery"    column="is_delivery"    />
        <result property="isSales"    column="is_sales"    />
        <result property="countAfterOrder"    column="countAfterOrder"    />
        <result property="countDealOrder"    column="countDealOrder"    />
    </resultMap>
    
    
    <sql id="afterSaleMemberVO">
    <!-- 售后表 -->
        select d.id, d.order_number,d.customer_id, d.follow_result_type, d.deal_amount, 
        d.send_sample_list, d.gifts_list, d.deal_time, d.trouble_spots, d.intention_point,
         d.follow_times, d.follow_result, d.duration_hour, d.duration_minute, d.duration_second,
          d.next_follow_time, d.next_follow_mentality, d.creator_id, d.creator, d.sender,
           d.sender_phone, d.sender_address, d.send_time, d.courier_number, d.logistics_company,
            d.collecting_amount, d.insurance_amount, d.postage ,d.is_delete,d.intention_degree,
            (select count(*) from kh_after_sale_member ss where ss.customer_id=d.customer_id )  "countAfterOrder",
             (select count(*) from kh_deliver_goods kk where kk.customer_id=d.customer_id ) "countDealOrder",
            <!--客户表  -->
            w.customer_id,  w.phone_number,  w.weixin_number,  w.customer_name,  w.gender,  w.kh_character,
            w.province_id,  w.province,  w.city_id,  w.city,  w.area_id,  w.area,  w.customer_address, 
             w.shop_name,  w.appointment_time,  w.customer_type,  w.shop_assistant_number,  w.store_scale, 
              w.creation_time,  w.demand_product,  w.remark,  w.is_delivery,  w.is_sales ,w.customer_num
            from kh_after_sale_member d left join
            kh_wechat_customer w on d.customer_id=w.customer_id 
            
    </sql>
 <select id="selectList" parameterType="AfterSaleMemberVO" resultMap="afterSaleMemberVOResult">
        <include refid="afterSaleMemberVO"/>
        <where>    and w.is_delete='0'
            <if test="id != null  and id != ''"> and d.id = #{id}</if>
            <if test="orderNumber != null  and orderNumber != ''"> and d.order_number = #{orderNumber}</if>
            <if test="customerId != null  and customerId != ''"> and d.customer_id = #{customerId}</if>
            <if test="followResultType != null  and followResultType != ''"> and d.follow_result_type = #{followResultType}</if>
            <if test="dealAmount != null  and dealAmount != ''"> and d.deal_amount = #{dealAmount}</if>
            <if test="dealTimeStart!=null and dealTimeStart!=''">
             	AND date_format(d.deal_time,'%y%m%d') &gt;= date_format(#{dealTimeStart},'%y%m%d')
			</if> 
			<if test="dealTimeEnd!=null and dealTimeEnd!=''">
			  AND date_format(d.deal_time,'%y%m%d') &lt;= date_format(#{dealTimeEnd},'%y%m%d')
			</if>
             <if test="sendTimeStart!=null and sendTimeStart!=''">
			　  AND date_format(d.send_time, '%y%m%d') &gt;= date_format(#{sendTimeStart},'%y%m%d')  
			
			</if> 
			<if test="sendTimeEnd!=null and sendTimeEnd!=''">
			    AND date_format(d.send_time, '%y%m%d') &lt;=  date_format(#{sendTimeEnd}, '%y%m%d') 
			</if>
            <!--  <if test="dealTimeStart != null and dealTimeStart != '' and  dealTimeEnd != null and  dealTimeEnd != ''"> and d.deal_time between #{dealTimeStart} and #{dealTimeEnd}</if>
             <if test="sendTimeStart != null and sendTimeStart != '' and  sendTimeEnd != null and  sendTimeEnd != ''"> and d.send_time between #{sendTimeStart} and #{sendTimeEnd}</if>
              --><if test="followTimes != null "> and d.follow_times = #{followTimes}</if>
            <if test="creator != null  and creator != ''"> and d.creator = #{creator}</if>
            <if test="sender != null  and sender != ''"> and d.sender = #{sender}</if>
            <if test="isDelete != null  and isDelete != ''"> and d.is_delete = #{isDelete}</if>
            <if test='isDeliverGoods=="1"'> and d.courier_Number is not null </if>
            <if test='isDeliverGoods=="0"'> and d.courier_Number is  null </if>
       		<if test="dealTime != null "> and d.deal_time = date_format(#{dealTime},'yyyy-MM-dd')</if>
       		
       		 <if test="phoneNumber != null  and phoneNumber != ''"> and w.phone_number  like concat('%', #{phoneNumber}, '%')</if>
            <if test="weixinNumber != null  and weixinNumber != ''"> and w.weixin_number like concat('%', #{weixinNumber}, '%')</if>
            <if test="customerName != null  and customerName != ''"> and w.customer_name like concat('%', #{customerName}, '%')</if>
            <if test="province != null  and province != ''"> and w.province = #{province}</if>
            <if test="city != null  and city != ''"> and w.city = #{city}</if>
            <if test="area != null  and area != ''"> and w.area = #{area}</if>
            <if test="shopName != null  and shopName != ''"> and w.shop_name like concat('%', #{shopName}, '%')</if>
            <if test="appointmentTime != null "> and w.appointment_time = #{appointmentTime}</if>
            <if test="customerType != null  and customerType != ''"> and w.customer_type = #{customerType}</if>
            <if test="creationTime != null "> and w.creation_time = #{creationTime}</if>
            <if test="isDelivery != null  and isDelivery != ''"> and w.is_delivery = #{isDelivery}</if>
            <if test="isSales != null  and isSales != ''"> and w.is_sales = #{isSales}</if>
            <if test="selfData != null  and selfData != ''"> and w.sale_id = #{selfData}</if>
            <if test="allData != null  and allData != ''"> </if>
            <if test="isFYRY != null  and isFYRY != ''">and d.creator_id = #{isFYRY} </if>
            <if test="isSHRY != null  and isSHRY != ''">and w.sale_id = #{isSHRY} </if>
             order by d.deal_time desc
        </where>
    </select>
    <select id="selectVOByOrderNumber" parameterType="String" resultMap="afterSaleMemberVOResult">
        <include refid="afterSaleMemberVO"/>
        where ORDER_NUMBER = #{orderNumber}
    </select>
     <delete id="deleteByIds" parameterType="String">
        update  kh_after_sale_member set is_delete='1' where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>