<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.wxcustomer.mapper.WechatCustomerMapper">
    
    <resultMap type="WechatCustomer" id="WechatCustomerResult">
        <result property="customerId"    column="customer_id"    />
        <result property="phoneNumber"    column="phone_number"    />
        <result property="weixinNumber"    column="weixin_number"    />
        <result property="customerName"    column="customer_name"    />
        <result property="gender"    column="gender"    />
        <result property="khCharacter"    column="kh_character"    />
        <result property="creatorId"    column="creator_id"    />
        <result property="creator"    column="creator"    />
        <result property="provinceId"    column="province_id"    />
        <result property="province"    column="province"    />
        <result property="cityId"    column="city_id"    />
        <result property="city"    column="city"    />
        <result property="areaId"    column="area_id"    />
        <result property="area"    column="area"    />
        <result property="customerAddress"    column="customer_address"    />
        <result property="shopName"    column="shop_name"    />
        <result property="appointmentTime"    column="appointment_time"    />
        <result property="customerType"    column="customer_type"    />
        <result property="shopAssistantNumber"    column="shop_assistant_number"    />
        <result property="storeScale"    column="store_scale"    />
        <result property="creationTime"    column="creation_time"    />
        <result property="demandProduct"    column="demand_product"    />
        <result property="remark"    column="remark"    />
        <result property="isDelivery"    column="is_delivery"    />
        <result property="isSales"    column="is_sales"    />
        <result property="customerNum"    column="customer_num"    />
        <result property="saleId"    column="sale_id"    />
        <result property="saleName"    column="sale_name"    />
        <result property="isDelete"    column="is_delete"    />
        <result property="customerbirthday"    column="customerBirthday"    />
        <result property="nexttime"    column="nextTime"    />
        <result property="expectedinventory"    column="expectedInventory"    />
        <result property="customerLevel"    column="customer_level"    />
        <result property="coopProduct"    column="coop_product"    />
        <result property="phoneCode"    column="phone_code"    />
        <result property="storeCompetition"    column="store_competition"    />
    </resultMap>

    <sql id="selectWechatCustomerVo">
        select customer_id, phone_number, weixin_number, customer_name, gender, kh_character, creator_id, creator, province_id, province, city_id, city, area_id, area, customer_address, shop_name, appointment_time, customer_type, shop_assistant_number, store_scale, creation_time, demand_product, remark, is_delivery, is_sales,customer_num ,sale_id,sale_name ,is_delete, customerBirthday, nextTime, expectedInventory, customer_level, coop_product ,phone_code, store_competition from kh_wechat_customer
    </sql>

    <select id="selectWechatCustomerList" parameterType="WechatCustomer" resultMap="WechatCustomerResult">
        <include refid="selectWechatCustomerVo"/>
        <where>  
            <if test="phoneNumber != null  and phoneNumber != ''"> and phone_number  like concat('%', #{phoneNumber}, '%')</if>
            <if test="weixinNumber != null  and weixinNumber != ''"> and weixin_number = #{weixinNumber}</if>
            <if test="customerName != null  and customerName != ''"> and customer_name like concat('%', #{customerName}, '%')</if>
            <if test="creator != null  and creator != ''"> and creator = #{creator}</if>
            <if test="creatorId != null  and creatorId != ''"> and creator_id = #{creatorId}</if>
            <if test="province != null  and province != ''"> and province = #{province}</if>
            <if test="city != null  and city != ''"> and city = #{city}</if>
            <if test="area != null  and area != ''"> and area = #{area}</if>
            <if test="shopName != null  and shopName != ''"> and shop_name like concat('%', #{shopName}, '%')</if>
            <if test="appointmentTime != null "> and appointment_time = #{appointmentTime}</if>
            <if test="customerType != null  and customerType != ''"> and customer_type = #{customerType}</if>
            <if test="creationTime != null "> and creation_time = #{creationTime}</if>
            <if test="isDelivery != null  and isDelivery != ''"> and is_delivery = #{isDelivery}</if>
            <if test="isSales != null  and isSales != ''"> and is_sales = #{isSales}</if>
            <if test="saleId != null  and saleId != ''"> and sale_id = #{saleId}</if>
            <if test="isDelete != null  and isDelete != ''"> and is_delete = #{isDelete}</if>
            <if test="isFyUser != null"> and is_sales!='1'</if>
            <if test="shUserId != null"> and sale_id=#{shUserId}</if>
            <if test="customerbirthday != null "> and customerBirthday = #{customerbirthday}</if>
            <if test="nexttime != null "> and date_format(nextTime, '%y%m%d') =date_format(#{nexttime},'%y%m%d') </if>
            <if test="expectedinventory != null  and expectedinventory != ''"> and expectedInventory = #{expectedinventory}</if>
            
            <if test="customerStartbirthday!=null and customerStartbirthday!=''">
			   and  date_format(customerBirthday, '%y%m%d') &gt;= date_format(#{customerStartbirthday},'%y%m%d')  
			</if> 
			<if test="customerEndbirthday !=null and customerEndbirthday!=''">
			     and  date_format(customerBirthday, '%y%m%d') &lt;=  date_format(#{customerEndbirthday}, '%y%m%d') 
			</if>
			
			<if test="beginCreationTime!=null and beginCreationTime!=''">
			   and  date_format(creation_time, '%y%m%d') &gt;= date_format(#{beginCreationTime},'%y%m%d')  
			</if> 
			<if test="endCreationTime !=null and endCreationTime!=''">
			     and  date_format(creation_time, '%y%m%d') &lt;=  date_format(#{endCreationTime}, '%y%m%d') 
			</if>
			
			<if test="customerLevel != null  and customerLevel != ''"> and customer_level = #{customerLevel}</if>
            <if test="coopProduct != null  and coopProduct != ''"> and coop_product like concat('%', #{coopProduct}, '%')</if>
			<if test="phoneCode != null  and phoneCode != ''"> and phone_code = #{phoneCode}</if>
            <if test="storeCompetition != null  and storeCompetition != ''"> and store_competition like concat('%', #{storeCompetition}, '%')</if>
			  <if test="dataRightUserIds != null  and dataRightUserIds != ''"> 
            	and ( creator_id in (${dataRightUserIds}) or sale_id in (${dataRightUserIds}))
            </if>
		    <choose>
	   			<when test='status != null and status == "1"'>
	   				and  weixin_number is not null
	   				and   (select count(1) from kh_deliver_goods a where follow_result_type='2' and a.customer_id=kh_wechat_customer.customer_id) <![CDATA[=]]> 0
	   				and   (select count(1) from kh_deliver_goods a where follow_result_type='3' and a.customer_id=kh_wechat_customer.customer_id) <![CDATA[=]]> 0
	   			</when>	
	   			<when test='status != null and status == "2"'>
	   				and   (select count(1) from kh_deliver_goods a where follow_result_type='2' and a.customer_id=kh_wechat_customer.customer_id) <![CDATA[>]]> 0
	   				and   (select count(1) from kh_deliver_goods a where follow_result_type='3' and a.customer_id=kh_wechat_customer.customer_id) <![CDATA[=]]> 0
	   			</when>	
	   			<when test='status != null and status == "3"'>
<!-- 	   				and   (select count(1) from kh_deliver_goods a where follow_result_type='3' and a.customer_id=kh_wechat_customer.customer_id) <![CDATA[>]]> 0 -->
	   				and is_sales='1'
	   			</when>	
	   		</choose>
	   		ORDER BY CASE   WHEN customer_level='A' THEN 3  WHEN customer_level='B' THEN 2  WHEN customer_level='C' THEN 1   END  DESC 
        </where>
    </select>
    
    <select id="selectWechatCustomerById" parameterType="String" resultMap="WechatCustomerResult">
        <include refid="selectWechatCustomerVo"/>
        where customer_id = #{customerId}
    </select>
        
    <insert id="insertWechatCustomer" parameterType="WechatCustomer">
        insert into kh_wechat_customer
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="customerId != null  and customerId != ''">customer_id,</if>
            <if test="phoneNumber != null  and phoneNumber != ''">phone_number,</if>
            <if test="weixinNumber != null  and weixinNumber != ''">weixin_number,</if>
            <if test="customerName != null  and customerName != ''">customer_name,</if>
            <if test="gender != null  and gender != ''">gender,</if>
            <if test="khCharacter != null  and khCharacter != ''">kh_character,</if>
            <if test="creatorId != null  and creatorId != ''">creator_id,</if>
            <if test="creator != null  and creator != ''">creator,</if>
            <if test="provinceId != null  and provinceId != ''">province_id,</if>
            <if test="province != null  and province != ''">province,</if>
            <if test="cityId != null  and cityId != ''">city_id,</if>
            <if test="city != null  and city != ''">city,</if>
            <if test="areaId != null  and areaId != ''">area_id,</if>
            <if test="area != null  and area != ''">area,</if>
            <if test="customerAddress != null  and customerAddress != ''">customer_address,</if>
            <if test="shopName != null  and shopName != ''">shop_name,</if>
            <if test="appointmentTime != null ">appointment_time,</if>
            <if test="customerType != null  and customerType != ''">customer_type,</if>
            <if test="shopAssistantNumber != null ">shop_assistant_number,</if>
            <if test="storeScale != null  and storeScale != ''">store_scale,</if>
            <if test="creationTime != null ">creation_time,</if>
            <if test="demandProduct != null  and demandProduct != ''">demand_product,</if>
            <if test="remark != null  and remark != ''">remark,</if>
            <if test="isDelivery != null  and isDelivery != ''">is_delivery,</if>
            <if test="isSales != null  and isSales != ''">is_sales,</if>
            <if test="customerNum != null  and customerNum != ''">customer_num,</if>
            <if test="saleName != null  and saleName != ''">sale_Name,</if>
            <if test="saleId != null  and saleId != ''">sale_id,</if>
            <if test="isDelete != null  and isDelete != ''">is_delete,</if>
            <if test="customerbirthday != null ">customerBirthday,</if>
            <if test="nexttime != null ">nextTime,</if>
            <if test="expectedinventory != null  and expectedinventory != ''">expectedInventory,</if>
            <if test="customerLevel != null  and customerLevel != ''">customer_level,</if>
            <if test="coopProduct != null  and coopProduct != ''">coop_product,</if>
            <if test="phoneCode != null  and phoneCode != ''">phone_code,</if>
            <if test="storeCompetition != null  and storeCompetition != ''">store_competition,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="customerId != null  and customerId != ''">#{customerId},</if>
            <if test="phoneNumber != null  and phoneNumber != ''">#{phoneNumber},</if>
            <if test="weixinNumber != null  and weixinNumber != ''">#{weixinNumber},</if>
            <if test="customerName != null  and customerName != ''">#{customerName},</if>
            <if test="gender != null  and gender != ''">#{gender},</if>
            <if test="khCharacter != null  and khCharacter != ''">#{khCharacter},</if>
            <if test="creatorId != null  and creatorId != ''">#{creatorId},</if>
            <if test="creator != null  and creator != ''">#{creator},</if>
            <if test="provinceId != null  and provinceId != ''">#{provinceId},</if>
            <if test="province != null  and province != ''">#{province},</if>
            <if test="cityId != null  and cityId != ''">#{cityId},</if>
            <if test="city != null  and city != ''">#{city},</if>
            <if test="areaId != null  and areaId != ''">#{areaId},</if>
            <if test="area != null  and area != ''">#{area},</if>
            <if test="customerAddress != null  and customerAddress != ''">#{customerAddress},</if>
            <if test="shopName != null  and shopName != ''">#{shopName},</if>
            <if test="appointmentTime != null ">#{appointmentTime},</if>
            <if test="customerType != null  and customerType != ''">#{customerType},</if>
            <if test="shopAssistantNumber != null ">#{shopAssistantNumber},</if>
            <if test="storeScale != null  and storeScale != ''">#{storeScale},</if>
            <if test="creationTime != null ">#{creationTime},</if>
            <if test="demandProduct != null  and demandProduct != ''">#{demandProduct},</if>
            <if test="remark != null  and remark != ''">#{remark},</if>
            <if test="isDelivery != null  and isDelivery != ''">#{isDelivery},</if>
            <if test="isSales != null  and isSales != ''">#{isSales},</if>
            <if test="customerNum != null  and customerNum != ''">#{customerNum},</if>
            <if test="saleName != null  and saleName != ''">#{saleName},</if>
            <if test="saleId != null  and saleId != ''">#{saleId},</if>
            <if test="isDelete != null  and isDelete != ''">#{is_delete},</if>
            <if test="customerbirthday != null ">#{customerbirthday},</if>
            <if test="nexttime != null ">#{nexttime},</if>
            <if test="expectedinventory != null  and expectedinventory != ''">#{expectedinventory},</if>
             <if test="customerLevel != null  and customerLevel != ''">#{customerLevel},</if>
            <if test="coopProduct != null  and coopProduct != ''">#{coopProduct},</if>
            <if test="phoneCode != null  and phoneCode != ''">#{phoneCode},</if>
            <if test="storeCompetition != null  and storeCompetition != ''">#{storeCompetition},</if>
         </trim>
    </insert>

    <update id="updateWechatCustomer" parameterType="WechatCustomer">
        update kh_wechat_customer
        <trim prefix="SET" suffixOverrides=",">
            <if test="phoneNumber != null  and phoneNumber != ''">phone_number = #{phoneNumber},</if>
            <if test="weixinNumber != null  and weixinNumber != ''">weixin_number = #{weixinNumber},</if>
            <if test="customerName != null  and customerName != ''">customer_name = #{customerName},</if>
            <if test="gender != null  and gender != ''">gender = #{gender},</if>
            <if test="khCharacter != null  and khCharacter != ''">kh_character = #{khCharacter},</if>
            <if test="creatorId != null  and creatorId != ''">creator_id = #{creatorId},</if>
            <if test="creator != null  and creator != ''">creator = #{creator},</if>
            <if test="provinceId != null  and provinceId != ''">province_id = #{provinceId},</if>
            <if test="province != null  and province != ''">province = #{province},</if>
            <if test="cityId != null  and cityId != ''">city_id = #{cityId},</if>
            <if test="city != null  and city != ''">city = #{city},</if>
            <if test="areaId != null  and areaId != ''">area_id = #{areaId},</if>
            <if test="area != null  and area != ''">area = #{area},</if>
            <if test="customerAddress != null  and customerAddress != ''">customer_address = #{customerAddress},</if>
            <if test="shopName != null  and shopName != ''">shop_name = #{shopName},</if>
            <if test="appointmentTime != null ">appointment_time = #{appointmentTime},</if>
            <if test="customerType != null  and customerType != ''">customer_type = #{customerType},</if>
            <if test="shopAssistantNumber != null ">shop_assistant_number = #{shopAssistantNumber},</if>
            <if test="storeScale != null  and storeScale != ''">store_scale = #{storeScale},</if>
            <if test="creationTime != null ">creation_time = #{creationTime},</if>
            <if test="demandProduct != null  and demandProduct != ''">demand_product = #{demandProduct},</if>
            <if test="remark != null  and remark != ''">remark = #{remark},</if>
            <if test="isDelivery != null  and isDelivery != ''">is_delivery = #{isDelivery},</if>
            <if test="isSales != null  and isSales != ''">is_sales = #{isSales},</if>
            <if test="customerNum != null  and customerNum != ''">customer_num = #{customerNum},</if>
            <if test="customerNum != null  and customerNum != ''">customer_num = #{customerNum},</if>
            <if test="saleId != null  and saleId != ''">sale_Id = #{saleId},</if>
            <if test="saleName != null  and saleName != ''">sale_Name = #{saleName},</if>
            <if test="isDelete != null  and isDelete != ''">is_delete = #{isDelete},</if>
            <if test="customerbirthday != null ">customerBirthday = #{customerbirthday},</if>
            <if test="nexttime != null ">nextTime = #{nexttime},</if>
            <if test="expectedinventory != null  and expectedinventory != ''">expectedInventory = #{expectedinventory},</if>
             <if test="customerLevel != null  and customerLevel != ''">customer_level = #{customerLevel},</if>
            <if test="coopProduct != null  and coopProduct != ''">coop_product = #{coopProduct},</if>
            <if test="phoneCode != null  and phoneCode != ''">phone_code = #{phoneCode},</if>
            <if test="storeCompetition != null  and storeCompetition != ''">store_competition = #{storeCompetition},</if>
        </trim>
        where customer_id = #{customerId}
    </update>

    <delete id="deleteWechatCustomerById" parameterType="String">
        delete from kh_wechat_customer where customer_id = #{customerId}
    </delete>

    <delete id="deleteWechatCustomerByIds" parameterType="String"><!-- 不是实则删除 -->
        update  kh_wechat_customer set is_delete='1' where customer_id in 
        <foreach item="customerId" collection="array" open="(" separator="," close=")">
            #{customerId}
        </foreach>
    </delete>
    
</mapper>